<!DOCTYPE html>

<body>
  <div class="center-div">
    <mat-card class="center-text">
      <h2>Register</h2>
      <br/>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username"/>
            <mat-error *ngIf="registerForm.controls.username.errors">Username must be at least 3 characters</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password"/>
            <mat-error *ngIf="registerForm.controls.password.errors">Password must be at least 8 characters</mat-error>
        </mat-form-field>
        <br/>
        <p *ngIf="usernameTaken" class="error">Username is already taken</p>
        <button mat-raised-button color="primary" class="wide" type="submit" [disabled]="registerForm.invalid">Register</button>
      </form> 
    </mat-card>
  </div>

</body>

