.center-div{
    width: 300px;
    height: 300px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 10%;

    margin: auto;
}

.center-text{
    text-align: center;
}

.wide{
    width: 100%;
}

.error{
    font-size: 16px;
    color: red;
}

mat-form-field{
    width: 100%;
}